aiohttp
aiosignal
async-generator
async-timeout
attrs
autopep8
beautifulsoup4
bidict
blinker
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
cryptography
exceptiongroup
firebase-admin
Flask
Flask-Discord-Interactions
Flask-Login
Flask-SocketIO
frozenlist
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
gspread
h11
httplib2
idna
importlib-metadata
install
itsdangerous
Jinja2
MarkupSafe
msgpack
multidict
numpy
oauth2client
oauthlib
opencv-python
outcome
packaging
proto-plus
protobuf
py-cord
pyasn1
pyasn1-modules
pycodestyle
pycparser
pygame
PyJWT
PyNaCl
pyOpenSSL
pyparsing
PySocks
python-dotenv
python-engineio
python-socketio
pytz
requests
requests-oauthlib
requests-toolbelt
rsa
selenium
simple-websocket
six
sniffio
sortedcontainers
soupsieve
toml
tomli
trio
trio-websocket
typing_extensions
uritemplate
urllib3
webdriver-manager
webutils
Werkzeug
wsproto
yarl
zipp
