{% extends 'base-login.html' %}
{%- set site_title = '更改密碼' -%}

{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <div class="content">
                <h1><small class="texti-small">驗證帳號</small></h1>
                {%- if verify_suc|length > 0 %}
                <div class="alert alert-success" role="alert">
                    {{ verify_suc }}
                    <script>
                        setTimeout(function () {
                            location.href = "/stockLogin";
                        }, 5000);
                    </script>
                </div>
                {%- elif verify_fail|length > 0 %}
                <div class="alert alert-danger" role="alert">
                    {{ verify_fail }}
                </div>

                {%- elif verify_fail|length == 0 and verify_suc|length == 0 %}
                
                <div>
                    <h3>更改密碼</h3>
                    <form role="form" id="formMain" action="/stockResetPassword/{{ token }}" method="post">
                        <input type="password" class="form-control form-control-lg" id="newPassword"
                        name="newPassword" placeholder="新密碼" autofocus>
                        <button type="button" class="btn btn-lg btn-block btn-primary"
                        id="btnSignin" onclick="$('#formMain').submit();">保存</button>

                    </form>
                </div>

                {%- endif %}


                
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<!-- Bootstrap core JavaScript -->
<script src="/static/bootstrap4/jquery.min.js"></script>
<script src="/static/bootstrap4/bootstrap.bundle.min.js"></script>
<!-- https://github.com/emn178/js-sha256 -->
<script src="/static/js/sha256.min.js"></script>
{% endblock %}
